/*variables*/

:root {
  --gradient-start-clr: hsl(6, 100%, 80%);
  --gradient-end-clr: hsl(335, 100%, 65%);

  --lightest-txt-clr: hsl(243, 100%, 93%);
  --grey-clr: hsl(229, 7%, 55%);
  --component-bg-clr: hsl(228, 56%, 26%);
  --button-bg-clr: hsl(229, 57%, 11%);
}

* {
  box-sizing: border-box;
}

/*Base Styles*/

body {
  font-family: "Raleway", sans-serif;
  color: var(--lightest-txt-clr);
  background-color: var(--button-bg-clr);
  width: 100vw;
  height: 100vh;
  margin: 0;

}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.left {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}


.card {
  background-color: var(--component-bg-clr);
  border-radius: 10px;
  padding: 2rem;
  width: 100%;
}

/*Specific Stylings*/

.container {
  width: 85%;
  gap: 1rem;
}

header.card {
  border-top-right-radius: 5rem;
  gap: 2rem;
}

.actions-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

.action {
  border: none;
  background-color: var(--button-bg-clr);
  height: 2.75rem;
  aspect-ratio: 1;
  border-radius: .5rem;
}
